body {
    background-image: url("./bg1.jpg");
    background-position: center;
    background-size: cover;

    height: 100vh;
}
.name-field {
    background-color: rgba(71, 71, 71, 0.5);
    backdrop-filter: blur(2px);
    padding:8px 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
}

.name-field input {
    border: none;
    background-color: transparent;
}

.name-field input::placeholder {
    color: rgb(186, 186, 186);
}

.name-field input:focus {
    outline: none;
}

.divider {
    display: flex;
    flex: wrap;
    gap: 4px;
    align-items: center;
}
hr {
    flex: 1 0 auto
}