:root {
    --base-clr: rgb(130, 250, 148);
    --sp-inside: 8px 20px;
    --rd-crnrs: 20px;
}

h2 {
    background-color: var(--base-clr);
    padding: var(--sp-inside);
    border-radius: var(--rd-crnrs);
}

p {
    color: var(--base-clr);
}

button {
    background-color: var(--base-clr);
    padding: var(--sp-inside);
    border-radius: var(--rd-crnrs);
}